.banner 
	width: 100%
	display: block
	height: 40px
	margin: 0
	background-color: $brand-success
	
	&.holiday
		background-color: $brand-warning
	&.danger
		background-color: $brand-danger
	p 
		color: white
		line-height: 40px
		text-align: center
		margin: 0