
.top
	&.membership
		width: calc(100% - 40px)
		background-color: #4b4c4d
		padding: 20px
		height: 140px
		text-align: center
		position: relative
	.logo
		display: inline-block
		vertical-align: middle
	span.membership_entry
		font-size: 2em
		vertical-align: middle
		height: 140px
		line-height: 140px

		color: white
		text-align: center
		display: inline-block

ul
	list-style: none
	margin-top: 0
	padding: 0

a
	cursor: pointer
	display: block
	color: #b3b3b3
	text-decoration: none

h1.booking
	text-align: center
	font-weight: normal
	color: #F6F6EF
	line-height: 60px
	margin: 0
	font-size: 20px
	letter-spacing: 2px
	background-color: #34363A
	border-bottom: 1px solid rgba(101, 116, 134, 0.57)

h2.booking
	text-transform: uppercase
	font-size: 20px

span.overview, h2.booking
	margin: 0
	letter-spacing: 3px
	color: #919191
	font-weight: normal
	padding-left: 40px
	line-height: 60px
	text-shadow: 1px 1px 2px #fff
	position: relative
	flex: 1
	-webkit-flex: 1
	-ms-flex: 1
	display: inline-block
	width: auto

span.overview
	display: block
	color: #666
	font-size: 10px
	line-height: 10px
	margin-top: -10px
	margin-bottom: 20px
	word-wrap: break-word

h3.booking
	font-size: 17px
	margin: 0
	line-height: 40px
	color: #555
	cursor: pointer
	position: relative

header.booking_gui
	width: 200px
	height: calc(100% - 200px)
	display: block
	float: left
	position: absolute
	left: 0
	z-index: 99
	nav ul li
		border-bottom: 1px solid #42454D
		padding-left: 48px
		transition: all 0.6s
		border-top: 1px solid #2E3036
		&:not(.error):hover, &:not(.complete):hover
			background-color: #454952
			transition: all 0.6s
			border-bottom: 1px solid #797979
		&:not(.error):hover a, &:not(.complete):hover a
			color: #fff
			transition: all 0.6s
		a
			line-height: 55px
			font-size: 18px
			position: relative
			letter-spacing: 1px
			transition: all 0.6s
			&:before
				font-family: 'entypo', sans-serif
				font-size: 20px
				position: absolute
				left: -32px
		&.complete
			background-color: #77AD78
		&.error
			background-color: #FF4136
			a
				color: white !important
		&.complete a
			color: white !important
		&.active a
			color: #21a1e1 !important
		&:nth-child(1) a:before
			content: "1."
		&:nth-child(2) a:before
			content: "2."
		&:nth-child(3) a:before
			content: "3."
		&:nth-child(4) a:before
			content: "4. "
		&:nth-child(5) a:before
			content: "5."
		&:nth-child(6) a:before
			content: "6."
		&:nth-child(7) a:before
			content: "7."
		&:nth-child(8) a:before
			content: "8. "
		&:nth-child(9) a:before
			content: "9."
		&:nth-child(10) a:before
			content: "10."
		&.complete a
			&:before
				content: ""
				position: absolute
				top: 25px
				left: -30px
				width: 5px
				height: 14px
				transform: rotate(-45deg)
				background: white
			&:after
				content: ""
				position: absolute
				top: 12px
				left: -18px
				width: 5px
				height: 29px
				transform: rotate(45deg)
				background: white

main
	display: block
	margin: 0px auto
	max-width: 1000px
	transform-origin: 0 0
	.stage
		position: relative
		transition: all 200ms ease-in-out
		width: 100%
		min-height: 69px
		height: auto
		background-color: #F7F7F7
		border: 1px solid #E2E2E2
		&:first-child
			display: block
		.info.complete
			transform: scale(0)
			display: none
		&.visible
			display: block
			transform-origin: 0 0
			overflow-y: auto

.title
	background-color: #fff
	border-bottom: 1px solid #C0C1C0
	min-height: 60px
	display: block
	width: 100%
	position: absolute
	top: 0
	left: 0
	a
		color: #AAA
		width: auto
		margin: 0 20px
		float: right
		line-height: 62px
		position: relative
		text-decoration: none
		transition: all .5s
		&:before
			content: "\1f464"
			font-size: 38px
			position: absolute
			left: -50px
			font-family: 'entypo'

a:hover
	color: #33526B
	transition: all .5s

.larg
	max-width: 960px
	margin: 30px auto
	padding: 0 30px
	text-align: center
	div
		padding: 0 20px
		margin: 15px 0
		h3 span
			font-family: 'entypo'
			font-size: 19px
			position: absolute
			right: 0
			transition: all .6s
			&.close
				-webkit-transform: rotate(180deg)
				transition: all .5s

p.medium, .larg div p
	display: block
	margin: 10px 0

div.results
	border: none

.selectSession
	display: inline-block
	margin: 20px
	vertical-align: top
	width: 250px

.sessionPreview
	width: calc(100% - 30px)
	max-width: 250px
	min-height: 250px
	height: auto
	border-radius: 4px
	padding: 15px
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
	transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1)
	color: #21a1e1
	background: rgb(255, 255, 255)
	border: 4px solid transparent
	position: relative
	&.warning_selected
		border-color: #985f0d
	&.selected
		border-color: #21a1e1
	.name
		width: 100%
		padding: 8px 3px
		border-bottom: 1px dashed #ccc
		margin-bottom: 10px

.selectSession.blur .sessionPreview div:not(.overlay-warning-session)
	-webkit-filter: blur(5px)
	-moz-filter: blur(5px)
	-o-filter: blur(5px)
	-ms-filter: blur(5px)
	filter: blur(5px)

.sessionPreview span.sessionTitle
	display: block
	text-decoration: underline
	margin: 3px 0
	color: #666
	font-size: 16px

.overlay-warning-session
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(213, 133, 18, 0.8)
	color: #fff
	span
		display: block
		margin-top: 25px

.sessionPreview span.cost
	margin: 15px auto
	display: block
	text-align: center
	font-size: 26px

.marginb20
	margin-bottom: 20px

.section#parental.visible
	display: block

.step_content
	width: 70vw
	margin: 0 auto
	text-align: left
	ol
		font-style: italic
		font-family: Georgia, Times, serif
		font-size: 24px
		color: #21a1e1
		li
			text-align: left
			p
				padding: 8px
				font-style: normal
				font-family: Arial
				font-size: 13px
				color: #333
				border-left: 1px solid #999
				text-align: left !important
			ol a
				display: block
			p
				display: block
				em
					display: block
			ul
				list-style: none

#sessions, .info
	text-align: center

#sessions
	padding-bottom: 10px

.info
	margin-top: 90px
	display: none
	padding-bottom: 20px
	&.visible
		display: block

.group
	padding: 20px

.participant_list
	padding: 5px 10px
	text-align: left

a.paypal
	background-color: #21a1e1
	width: 306px
	max-width: 90vw
	margin: 0 auto
	height: 60px
	line-height: 60px
	font-size: 22px
	color: white
	border-radius: 10px

.participant_list p
	display: inline-block !important
	width: auto !important
	font-size: 1em

.fa.member
	font-size: 35px
	&:before
		display: inline-block
		width: 50px
		height: 50px
		line-height: 50px
		vertical-align: middle
		border-radius: 50%
		background-color: #21a1e1
		margin-right: 20px
		text-align: center

.fa-f:before
	content: ""

.fa-m:before
	content: '\f183'

.fa-o:before
	content: ' '

@media screen and (max-width: 600px)
	.selectSession
		width: calc(50% - 40px)
	.participant_list
		padding-left: 20px
	.fa.member
		font-size: 20px
		&:before
			display: inline-block
			width: 35px
			height: 35px
			line-height: 35px

@media screen and (max-width: 420px)
	.container__middle
		text-align: right !important
		width: calc(100% - 20px) !important
		padding-right: 20px !important
	#start_date
		text-align: right
	.sessionPreview
		padding: 5px
		width: calc(100% - 10px)
	.selectSession
		.name p
			font-size: 16px
		span
			font-size: 14px

main.fixed
	margin-top: 120px
section.top_overview
	max-width: 1000px
	background-color: #21a1e1
	position: relative
	border-radius: 5px
	height: 75px
	width: 90%
	margin: 20px auto
	transition: all 100ms ease-in-out

	&.top_overview.fixed
		position: fixed
		top: 0
		right: 0
		left: 0
		margin: 0 auto
		z-index: 999999
		width: 100%
		border-radius: 0

	.container__total
		vertical-align: top
		display: inline-block
		width: 160px
		text-align: center
		position: absolute
		left: 0
		top: 0
		bottom: 0
	p
		font-size: 18px
		color: white
		line-height: 37.5px
	span
		font-size: 18px
		color: white
		line-height: 37.5px
		color: white
		font-size: 22px
	.container__middle
		vertical-align: top
		display: inline-block
		width: 100%
		text-align: center
		line-height: 37.5px
	.container__date
		vertical-align: top
		display: inline-block
		width: 180px
		text-align: center
	.container__middle p
		margin: 3px 0 0 0


#stage_1.fixed .title h2, #stage_2.fixed .title h2, #stage_3.fixed .title h2, #stage_4.fixed .title h2
	font-size: 18px
	line-height: 40px

#stage_1.fixed .title .overview, #stage_2.fixed .title .overview, #stage_3.fixed .title .overview, #stage_4.fixed .title .overview
	margin-bottom: 0

#stage_1.fixed .title, #stage_2.fixed .title, #stage_3.fixed .title, #stage_4.fixed .title
	position: fixed
	right: 0
	left: 0
	margin: 0 auto
	max-width: 998px
	min-height: 50px
	z-index: 999999
	width: 100%

#stage_1.fixed .title
	top: 75px

#stage_2.fixed .title
	top: 126px

#stage_3.fixed .title
	top: 177px

#stage_4.fixed .title
	top: 228px

.top_overview.fixed.admin
	top: 32px

.rwc_table
	width: 90%
	max-width: 90%
	margin-bottom: 20px
	margin: 0 auto 20px auto
	>
		caption + thead > tr:first-child >
			td, th
				border-top: 0
		colgroup + thead > tr:first-child >
			td, th
				border-top: 0
		thead
			&:first-child > tr:first-child >
				td, th
					border-top: 0
			> tr > th
				vertical-align: bottom
				border-bottom: 2px solid #ddd
	th
		text-align: right
	>
		tbody > tr

			&:last-child
				background-color: #F7F7F7
			>
				td, th
					padding: 8px
					line-height: 1.42857143
					vertical-align: top
		tfoot > tr >
			td, th
				padding: 8px
				line-height: 1.42857143
				vertical-align: top
		thead > tr >
			td, th
				padding: 8px
				line-height: 1.42857143
				vertical-align: top
	&.confirmation
		padding: 10px
		text-align: right
		background-color: white
		border-radius: 5px

.double_top_border
	border-top: 3px double #ddd
	border-bottom: 1px solid #ddd

.minimum > p
	margin: 0

.list-group
	padding-left: 0
	margin-bottom: 20px

.list-group-item
	position: relative
	display: block
	padding: 10px 15px
	margin-bottom: -1px
	background-color: #fff
	border: 1px solid #ddd
	&:first-child
		border-top-left-radius: 4px
		border-top-right-radius: 4px
	&.active
		z-index: 2
		color: #fff
		background-color: #337ab7
		border-color: #337ab7
		&:focus, &:hover
			z-index: 2
			color: #fff
			background-color: #337ab7
			border-color: #337ab7

.list-group-item-heading
	margin-top: 0
	margin-bottom: 5px

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading
	color: #333

.list-group-item-text
	margin-bottom: 0
	line-height: 1.3
span.profile-image 
	display: inline-block
	width: 30px
	height: 30px
	border-radius: 50%
	margin-right: 5px
	background-color: darken($gray-lighter, 5%)
	text-align: center
	> i
		line-height: 30px
		font-size: 15px
		color: #fff
span.profile-image ~ p.lead
	display: inline-block
	margin-left: 10px

.glyphicon-calendar:before
	content: "\e109"
	padding-left: 3px
#gotoState
	margin-left: 0
.glyphicon-refresh-animate
	animation: spin .7s infinite linear
.panel-title
	text-align: left


//find member
.find-member-input
	width: calc(100% - 130px) !important

@media all and (max-width: 380px)
	.find-member-input,
	.find-member-btn
		width: 100% !important
	
.shopping-cart 
	float: right
	background: #fff
	width: 320px
	position: relative
	border-radius: 3px
	color: #fff
	
	
	
	.shopping-cart-header 
		border-bottom: 1px solid #E8E8E8
		padding: 15px
		background-color: $brand-primary
		
		.shopping-cart-total 
			float: right
		
	
	
	.shopping-cart-items 
		
		padding-top: 20px

		li 
			margin-bottom: 18px
			

		img 
			float: left
			margin-right: 12px
		
		
		.item-name 
			display: block
			padding-top: 10px
			font-size: 16px
		
		
		.item-price 
			color: $brand-success
			margin-right: 8px
.item-quantity 
	color: $brand-primary
.shopping-cart:after 
	bottom: 100%
	left: 89%
	border: solid transparent
	content: " "
	height: 0
	width: 0
	position: absolute
	pointer-events: none
	border-bottom-color: white
	border-width: 8px
	margin-left: -8px


.cart-icon 
	color: #515783
	font-size: 24px
	margin-right: 7px
	float: left


.button 
	background: $brand-success
	color:white
	text-align: center
	padding: 12px
	text-decoration: none
	display: block
	border-radius: 3px
	font-size: 16px
	margin: 25px 0 15px 0
	
	&:hover 
		background: lighten($brand-primary, 3%)
	
