
.navbar-header,
.navbar-nav>li 
	float: left !important
.navbar-nav
	vertical-align: top
.jumbotron 
	&.small
		h1
			font-size: 43px
	.h1, h1
		text-align: left
ol.breadcrumb
	&.clear
		background-color: transparent
		padding: 0
		margin-top: -20px

	&>  li
		&>a
			display: inline-block
.thumbnail
	.group
		padding: 0 
.tooltip
	margin-left: 0px
.list-group-item
	z-index: 0 !important
.txt-center
	text-align: center
.alert.reg
	visibility: hidden
	opacity: 0
	display: none
	transition: opacity 200ms ease-in
	
	&.block
		display: block !important
	&.visible
		visibility: visible !important
		opacity: 1  !important
.form-control-feedback.reg
	visibility: hidden
	opacity: 0
	display: none
	transition: opacity 200ms ease-in
	right: 15px
	top: 0px
	&.find-member
		right: 145px
	&.block
		display: block !important

	&.visible
		visibility: visible !important
		opacity: 1  !important
.form-group
	margin-top: 20px
.btn
	&:not(:first-child)
		margin-left: 10px
.padding-0
	padding: 0 !important
.padding-5
	padding: 0 5px !important