.rwc_new.button.flashy
  margin: 10px auto
  display: block
  width: 200px
  animation: flashy ease-in-out 4s
  animation-iteration-count: infinite
  -webkit-animation: flashy ease-in-out 4s
  -webkit-animation-iteration-count: infinite
  -moz-animation: flashy ease-in-out 4s
  -moz-animation-iteration-count: infinite
  -o-animation: flashy ease-in-out 4s
  -o-animation-iteration-count: infinite
  -ms-animation: flashy ease-in-out 4s
  -ms-animation-iteration-count: infinite
a#pay-btn,
a#checkout-btn
  max-width: 80%
  display: block
  margin: 0 auto

  img
    max-width: 100%