#calendar
	position: relative


	
.session-green
	background-color: $state-success-bg
	color: $state-success-text
	border-color: $state-success-bg
.session-amber 
	background-color: $state-warning-bg
	color: $state-warning-text
	border-color: $state-warning-bg
.session-dark-amber 
	background-color: $state-warning-text
	color: #fff
	border-color: $state-warning-text
.session-red 
	background-color: $state-danger-bg
	color: $state-danger-text
	border-color: $state-danger-bg