
.card-item
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	margin-top: 10px
	box-sizing: border-box
	border-radius: 2px
	background-clip: padding-box
	background-color: #f8f8f8


	.card-title
		font-size: 22px
		font-weight: 300
		background-color: #fff
		border-right: 4px solid #21a1e1
		border-top: 4px solid #21a1e1
		border-top-right-radius: 5px
		color: $gray
	.card-image
		position: relative
		overflow: hidden

		.card-title
			position: absolute
			bottom: 0
			left: 0
			padding: 16px
	.card-content
		padding: 16px
		border-radius: 0 0 2px 2px
		background-clip: padding-box
		box-sizing: border-box
		background-color: #21a1e1

		p:last-child
			margin: 0

		.card-title
			line-height: 48px
	.card-action
		border-top: 1px solid rgba(160, 160, 160, 0.2)
		padding: 7px

	a.btn
		margin: 5px
		&:not(:first-child)
			margin: 5px
@media all and (min-width: 992px)
	.card
		.row:not(#sessions_list)
			div:first-child
				padding-right: 0
			div:last-child
				padding-left: 0
			.card-action
				padding: 16px !important