
.sessionChartContainer
	display: block
	text-align: center
	.sessionChart 
		position: relative
		width: 150px
		height: 150px
		display: inline-block
		margin: 20px auto


.doughnutTip 
	position: absolute
	min-width: 30px
	max-width: 90vw
	padding: 5px 15px
	border-radius: 1px
	background: rgba(0, 0, 0, .8)
	color: #ddd
	font-size: 17px
	text-shadow: 0 1px 0 #000
	text-transform: uppercase
	text-align: center
	line-height: 1.3
	letter-spacing: .06em
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
	pointer-events: none
	&::after 
		position: absolute
		left: 50%
		bottom: -6px
		content: ""
		height: 0
		margin: 0 0 0 -6px
		border-right: 5px solid transparent
		border-left: 5px solid transparent
		border-top: 6px solid rgba(0, 0, 0, .7)
		line-height: 0
	


.doughnutSummary 
	position: absolute
	top: 50%
	left: 50%
	text-align: center
	cursor: default
	margin-left: -32px !important
	margin-top: -29px !important


.doughnutSummaryTitle 
	position: absolute
	top: 50%
	width: 100%
	margin-top: -45%
	font-size: 22px
	letter-spacing: .06em


.doughnutSummaryNumber 
	position: absolute
	top: 50%
	width: 100%
	margin-top: -10%
	font-size: 20px
	color: $blue


.chart path:hover 
	opacity: 0.65
