.checks 
	position: absolute
	top: 0
	right: 0
	width: 150px
	height: 60px
	background-color: #fff
	border-bottom-left-radius: 20px 50%
	text-align: right
	p.check_title 
		font-size: 13px
		font-weight: 700
		margin: 0
		text-align: center

	.check_item 
		display: inline-block
		width: 60px
		text-align: center
		margin-right: 5px
		vertical-align: top
		p.check_sub_title 
			font-size: 10px
			margin: 0
			padding: 0
		a.check_button 
			width: 40px
			height: 40px
			font-size: 25px
			line-height: 45px
			text-decoration: none
			color: $brand-success
			background: #fff
			border-radius: 50%
			display: inline-block
			
			&.warning
				color: $brand-warning