@font-face
	font-family: 'FontAwesome'
	src: url(//www.rampworldcardiff.co.uk/wp-content/themes/simple/font-awesome/fontawesome-webfont.eot?v=4.1.0)
	src: url(//www.rampworldcardiff.co.uk/wp-content/themes/simple/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0) format("embedded-opentype"), url(../font-awesome/fontawesome-webfont.woff?v=4.1.0) format("woff"), url(../font-awesome/fontawesome-webfont.ttf?v=4.1.0) format("truetype"), url(font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular) format("svg")
	font-weight: 400
	font-style: normal

.footer-icons

	a, p.fa a, a.fa, p.fa,
		display: inline-block
		font: normal normal normal 14px/1 FontAwesome
		font-size: inherit !important
		text-rendering: auto
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		color: white
		transition: all 300ms ease-in-out 0s

	.fa.fa .fa:not(.fa-check):before
		background-color: #33383b
		color: #ffffff
		font-size: 25px
		width: 38px
		height: 38px
		border-radius: 50%
		text-align: center
		line-height: 38px
		margin: 10px 15px
		vertical-align: middle
		transition: color 200ms ease-in-out
		display: inline-block

	.fa-previous, .fa-next, .fa-tag, .fa-clock, .fa-user
		width: 100%
		height: 38px
		line-height: 38px !important
		position: relative
		vertical-align: top
		background-color: #21a1e1
		border-top-right-radius: 19px
		border-bottom-right-radius: 19px
		padding-right: 10px
		color: #fff
		font-style: italic
		text-align: center
		transition: 300ms ease-in-out 0s

	.fa-next
		border-top-left-radius: 19px
		border-bottom-left-radius: 19px
		border-top-right-radius: 0 !important
		border-bottom-right-radius: 0 !important
		padding-left: 10px

	.fa-previous:before, .fa-tag:before, .fa-clock:before, .fa-user:before
		margin: 0 20px 0 0 !important
		margin-right: 20px
		position: absolute
		left: -19px

	

	.fa-next:before
		margin: 0 20px 0 0 !important
		margin-left: 20px
		position: absolute
		right: -19px
		content: '\f054'
		text-indent: 2px
		line-height: 40px !important
		margin-right: 0 !important

	.fa-previous:before
		content: '\f053'
		text-indent: -6px
		line-height: 40px !important

	.fa-envelope:before
		content: "\f0e0"
		font-size: 20px

	.fa-previous
		width: 150px !important
		float: left

	.fa-next
		float: right
		width: 150px !important
		a
			display: block !important
			height: 38px !important
			line-height: 38px !important
			margin: 0 auto

	.fa-previous a
		display: block !important
		height: 38px !important
		line-height: 38px !important
		margin: 0 auto
.fa-check:before
	content: "\f00C" !important


.fa-user:before
	content: '\f007'

.fa-clock:before
	content: '\f017'

.fa-tag:before
	content: '\f02b'

.fa-map-marker:before
	content: "\f041"
footer
	.footer-link a:hover, .footer-icons a:hover
		color: #21a1e1 !important

	.fa:hover:before
		color: #21a1e1 !important

.double span.message
	max-width: 620px

.contactLarge
	display: block
	margin: 10px auto
	font-size: 32px
	transition: color 300ms ease-in-out
	&:hover
		color: #21a1e1

.membershipNumber
	margin: 0px auto
	font-size: 64px
	text-align: center

.highlightedText
	margin: 20px auto
	font-weight: 32px
	color: #21a1e1
	text-align: center
	display: block

label
	font-size: 15px
	color: #999
	transition: all 0.15s ease-out 0s

a.link
	text-decoration: none
	border-bottom: 1px solid #666
	color: #666
	transition: color 150ms ease-in-out, border-color 400ms ease-in-out
	&:hover
		color: #21a1e1
		border-color: #21a1e1

div.pricing
	text-align: center

p
	&.small
		width: 100%
		max-width: 600px
		margin: 0 auto !important
		display: block
		text-align: justify
	&.medium
		width: 100%
		max-width: 600px
		margin: 0 auto !important
		display: block
		text-align: justify
		font-size: 18px
	&.small
		font-size: 14px
	&.free, &.booked
		padding: 10px 20px
		font-size: 22px
	&.free
		background-color: #2DCC40
	&.booked
		background-color: #FF4136



h1.category
	background-color: #21a1e1
	color: white !important

@media (max-width: 880px)
	


.price_summary, .highlightedText, .membershipNumber
	margin: 20px auto
	font-size: 64px
	color: #21a1e1
	text-align: center
	display: block
span.copyright,
span.reg_char_footer 
	font-size: 13px
.price_summary,
.highlightedText
	font-size: 32px!important
.center
	text-align: center
p.medium
	font-size: 18px
	font-weight: 400
.capitalize
	text-transform: capitalize
.uppercase
	text-transform: uppercase
.lowercase
	text-transform: lowercase

.error
	color: $state-danger-text
	text-align: left
	display: block
p.session_name
	line-height: 33px
	&.event
		font-size: 14px
		font-style: italic
		font-weight: bold

h3
	margin-top: 0px !important
	margin-bottom: 20px !important
	font-size: 16px !important
	font-weight: 300 !important
	line-height: 1.4 !important
	

@media (min-width: 768px)
	h3 	
		font-size: 21px !important
	