ul.burger
  position: absolute
  float: left
  padding: 10px
  top: 4px
  left: 10px
  display: none
  visibility: hidden
  cursor: pointer
  transition: background-color 300ms ease-in-out
  li
    width: 30px
    height: 4px
    background-color: #fff
    margin: 5px 0
    border-radius: 4px
    list-style: none
    transition: background-color 250ms ease-in-out
  &:hover li
    background-color: #21a1e1
    &:nth-child(1), &:nth-child(3)
      transition-delay: 0.05s

nav#main_menu
  background-color: #ccc
  margin: 0
  padding: 0
  width: 100vw
  text-align: center
  position: relative
  height: 52px

ul#menu-primary-items
  list-style-type: none
  margin: 0 auto !important
  padding: 0 !important
  -webkit-padding-start: 0px !important
  display: inline-block
  min-height: 52px
  width: 100%
  background-color: #ccc
  text-align: center
  position: relative
  li
    display: inline-block
    position: relative
  ul.sub-menu
    display: none
    position: absolute
    top: 100%
    left: 0
    background: #fff
    padding: 0
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4)
    z-index: 9999
    li
      width: 200px
    a
      line-height: 120%
      padding: 10px 15px
      width: 100%
      min-width: 200px
    ul
      left: 100%
      top: 0
  li
    ul.sub-menu li
      width: 100%
    &:hover > ul
      display: block
    a
      display: block
      min-width: 80px
      padding: 0 10px
      border-radius: 0
      text-align: center
      line-height: 52px
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      color: #000
      background: #ccc
      text-decoration: none
      border-bottom: 2px solid rgba(0, 0, 0, 0)
      -webkit-transition: background-color 250ms ease-in-out, border 100ms ease-in-out
      -moz-transition: background-color 250ms ease-in-out, border 100ms ease-in-out
      transition: background-color 250ms ease-in-out, border 100ms ease-in-out
    &:hover
      > a
        background: #fff
        color: #21a1e1
        border-bottom: 2px solid #21a1e1
      ul#menu-primary-items a
        background: #21a1e1
        color: #2f3036
        height: 40px
        line-height: 40px
        &:hover
          background: #21a1e1
          color: #fff

.wpmm-menu
  display: none
  visibility: hidden

@media all and (max-width: 935px)
  nav#main_menu
    display: none
    visibility: hidden
  ul.burger, .wpmm-menu
    display: block
    visibility: visible