@media (max-width: 480px) 
	.btn-ms-block
		display: block

	.checkbox-ms-block,
	.radio-ms-block
		display: block
		padding: 0
		margin-left: 10px
@media (max-width: $screen-sm-min) 
	.btn-xs-block
		display: block

	.checkbox-sm-block,
	.radio-sm-block
		display: block
		padding: 0
		margin-left: 10px
@media (min-width: $screen-sm-min)
	.btn-sm-block
		display: block

	.checkbox-xs-block,
	.radio-xs-block
		display: block
		padding: 0
		margin-left: 10px
@media (min-width: $screen-md-min)
	.btn-md-block
		display: block

	.checkbox-md-block,	
	.radio-md-block
		display: block
		padding: 0
		margin-left: 10px
@media (min-width: $screen-lg-min)
	.btn-lg-block
		display: block
	
	.checkbox-lg-block,
	.radio-lg-block
		display: block
		padding: 0
		margin-left: 10px
		
textarea[readonly],
input[readonly]:not([type="radio"]):not([type="checkbox"])
	background-color: #fff !important
	border: none
	box-shadow: none


label.required
	&:after
		content: "*"
		color: $brand-danger

.bg-success
	background-color: $brand-success !important
.bg-primary
	background-color: $brand-primary !important
.bg-warning
	background-color: $brand-warning !important
.bg-danger
	background-color: $brand-danger !important
.bg-default
	background-color: $btn-default-bg !important

#members
	tr:hover tr
		background-color: $table-bg-hover
.btn.disabled
	pointer-events: auto

.border-top-6
	border-radius: 6px 6px 0px 0px !important 
.border-bottom-6
	border-radius: 0px 0px 6px 6px !important