#wpcontent
	padding-left: 0 !important
	background-color: #fff

.mg-10
	margin: 10px
input[type="radio"],
input[type="checkbox"]
	height: 16px !important
	width: 16px !important
input[type="radio"]	
	&:checked:before
		content: "\2022" !important
		text-indent: -9999px !important
		-webkit-border-radius: 50px !important
		border-radius: 50px !important
		font-size: 24px !important
		width: 6px !important
		height: 6px !important
		margin: 4px !important
		line-height: 16px !important
		background-color: #21a1e1 !important
input[type="checkbox"]
	&:checked:before
		content: "\f147" !important
		margin: -3px 0 0 -4px !important
		color: #21a1e1 !important
		font: 400 21px/1 dashicons !important