.entry-lg
	height: 70px !important
	padding: 10px 16px
	font-size: 48px
	line-height: 1.33333

	text-align: center
	color: $blue !important
	margin: 20px 0
.entry-custom-search
	.input-group-btn 
		display: block
		width: 100% !important
		.btn
			width: 100%
			border-radius: 6px 6px 0px 0px !important
		.dropdown-menu
			min-width: 100% !important
		
	input
		border-radius: 0px 0px 6px 6px  !important
		&.small
			width: 33% !important
		&#day
			border-radius: 0px 0px 0px 6px  !important
		&#year
			border-radius: 0px 0px 6px 0px !important
		&#month
			border-radius: 0px !important
	
.entry-submit
	outline: none
	margin: -5px
	background-color: $blue
	height: 130px
	line-height: 100%
	border: none
	border-bottom-left-radius: 6px
	border-bottom-right-radius: 6px
	transition: all 300ms ease-in-out
	padding: 0 
	i
		font-size: 48px
		color: #fff
	&:hover
		background-color: $brand-success
.status-item
	display: inline-block
	padding-right: 5px
	margin-bottom: 10px
	.status
		width: 25px
		height: 25px
		border-radius: 3px
		margin-right: 10px
		display: inline-block
	.status-label
		display: inline-block
		height: 25px
		margin-bottom: 0
		vertical-align: text-bottom
#entry-table td,
#entry-table th
	padding: 16px 8px
span.status-success
	background-color: $status-success
tr.status-success
	border: 1px solid $status-success
	border-left: 20px solid $status-success

span.status-booking
	background-color: $status-booking
tr.status-booking
	border: 1px solid $status-booking
	border-left: 20px solid $status-booking
	
span.status-banned
	background-color: $brand-danger
tr.status-banned
	border: 1px solid $brand-danger
	border-left: 20px solid $brand-danger
			
span.status-notes
	background-color: $status-notes
tr.status-notes
	border: 1px solid $status-notes
	border-left: 20px solid $status-notes

span.status-membership
	background-color: $status-membership
tr.status-membership
	border: 1px solid $status-membership
	border-left: 20px solid $status-membership

span.status-on-premises
	background-color: $status-on-premises
tr.status-on-premises
	border: 1px solid $status-on-premises
	border-left: 20px solid $status-on-premises
	
span.status-new-member
	background-color: $status-new-member
tr.status-new-member
	border: 1px solid $status-new-member
	border-left: 20px solid $status-new-member

@media (max-width: $screen-sm-min) 

	.entry-submit
		margin: 0px
		height: 65px
		border-radius: 6px
	


.small