.jqi
	box-shadow: 0 0 10px 1px
	min-height: 650px
	&.danger
		.message,
		.right
			background-color: $brand-danger !important
		.name,
		.age
			color: $brand-danger !important
	&.warning
		.right
			background-color: $brand-warning !important
		.name,
		.age
			color: $brand-warning !important
	&.booking
		.message,
		.right
			background-color: $status-booking !important
		.name,
		.age
			color: $status-booking !important
div.jqi,
.jqistate
	border-radius: 5px !important


.jqimessage 
	padding-bottom: 30px !important
#seshTitle
	display: none
.centerContent
	width: 100%

	.name
		font-size: 30px
		text-align: center
		display: block
		margin-bottom: 30px
		color: $blue
	.age-notification
		display: block
		width: 150px
		height: 150px
		padding: 30px
		text-align: center
		margin: 0 auto 20px
		background-color: $gray-lighter
		border-radius: 50%
		position: relative
		overflow: hidden

		span.age
			font-size: 48px
			color: $blue
			display: block
			margin-bottom: 20px
			margin-top: 15px

		span.message
			font-size: 14px
			display: block
			width: 150px
			height: 45px
			position: absolute
			bottom: 0
			left: 0
			right: 0
			background: $blue
			color: #fff
			line-height: 35px
@media screen and (min-width: 600px)
	#seshTitle
		display: block
	.centerContent
		width: calc(100% - 250px)
	.entry_buttons
		position: absolute
		top: 40px
		right: -1px
		background-color: transparent !important
		margin: 0 !important
		border: none !important
		padding: 5px 20px
		> button
			&.noBorder
				border: none !important
				display: block !important
				width: 200px !important
				height: 65px
				color: #999 !important
				background-color: white !important
				opacity: 0
				margin: 10px auto 0px auto
				box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3)
				border-radius: 5px
			border: none !important
			display: block !important
			width: 200px !important
			height: 65px
			color: #999 !important
			background-color: white !important
			opacity: 0
			margin: 10px auto 0  auto
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3)
			border-radius: 5px
			&.cancel
				margin-bottom: 30px !important
	.right
		position: absolute
		top: -1px
		right: -1px
		bottom: -1px
		width: 0px
		background-color: $blue
		border-top-right-radius: 5px
		border-bottom-right-radius: 5px
		opacity: 0
		margin-right: -20px
		#seshTitle
			padding-top: 0px !important
			opacity: 0
			color: white
			font-size: 0
			font-weight: normal
			text-align: center
	.promptTimes
		width: calc(100% - 250px)
	.outerContainerHoliday
		margin-top: -150px

	.entry_button
		&.threerow
			display: inline-block
			width: calc(100% / 3)
		&.tworow
			display: inline-block
			width: calc(100% / 2)

	.jqibuttons
		text-align: center !important

	.entry_button
		&.entry_large
			display: block
			width: 100%
		&.highlight
			font-size: 2em !important
		&.noBorder
			border: none !important
.warning-icon,
.error-icon
	margin: 20px auto
	text-align: center
	font-size: 100px

.warning-icon
	color: $brand-warning
.error-icon
	color: $brand-danger