
#entryCounter 
	width: 100px
	display: inline-block
	position: absolute
	left: 20px
	top: 20px
	text-align: center
	vertical-align: top
	#percentage 
		position: absolute
		top: 45px
		left: 0
		width: 100%
		text-align: center
		line-height: 45px
		color: white
	
	#number 
		position: absolute
		top: 14px
		left: 0
		width: 100%
		text-align: center
		line-height: 45px
		font-size: 28px
		color: white
#paidCounter 
	width: 100px
	display: inline-block
	position: absolute
	left: 140px
	top: 20px
	text-align: center
	vertical-align: top
	color: white

	#passes_txt 
		
		position: absolute
		top: 55px
		left: 0
		width: 100%
		text-align: center
		line-height: 23px
		color: white

	#sessions_txt 
		position: absolute
		top: 14px
		left: 0
		width: 100%
		text-align: center
		line-height: 23px
		color: white
	span
		font-size: 14px !important
		line-height: 14px !important
		display: block

	
