footer.new
  background-color: #292c2f
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  width: 100%
  text-align: left
  font: bold 16px sans-serif
  padding: 55px 50px
  margin-top: 80px
  .footer-left, .footer-center, .footer-right
    display: inline-block
    vertical-align: top
  .footer-left
    width: 40%
  h3
    color: #fff
    font: normal 36px Cookie, cursive
    margin: 0
    span
      color: #5383d3
  .footer-links
    color: #fff
    margin: 20px 0 12px
    padding: 0

.footer-links a
  display: inline-block
  line-height: 1.8
  text-decoration: none
  color: inherit
  transition: color 200ms ease-in-out
  &:hover
    color: #21a1e1
    
  .fa:not(.member):hover:before
    color: #21a1e1 !important

.footer-company-name
  color: #8f9296
  font-size: 14px
  font-weight: 400
  margin: 0

.footer-center
  width: 35%
  p
    display: inline-block
    color: #fff
    vertical-align: middle
    margin: 0
    font-family: arial
    span
      display: inline-block
      font-weight: 400
      font-size: 14px
      line-height: 2
      font-family: arial
    a
      color: #5383d3 !important
      text-decoration: none

.footer-right
  width: 20%

.footer-company-about
  line-height: 20px
  color: #92999f
  font-size: 13px
  font-weight: 400
  margin: 0
  span
    display: block
    color: #fff
    font-size: 14px
    font-weight: 700
    margin-bottom: 20px

.footer-icons
  margin-top: 25px
  a
    display: inline-block
    width: 35px
    height: 35px
    cursor: pointer
    background-color: #33383b
    border-radius: 2px
    color: #fff
    text-align: center
    line-height: 35px !important
    font-size: 20px !important
    margin-right: 3px
    margin-bottom: 5px
    text-decoration: none
    vertical-align: top
    transition: color 200ms ease-in-out
    font-family: Awsome
  .fa-facebook:before
    content: "" !important
  .fa-instagram:before
    content: "" !important

.medium, .footerNavHeading
  font-size: 16px
  line-height: 1.2
  color: #666

@media (max-width: 880px)
  footer.new
    font: bold 14px sans-serif
    .footer-left, .footer-center, .footer-right
      display: block !important
      width: 100% !important
      margin-bottom: 40px
      text-align: center
    .second_address_line
      margin: 10px 0 0 !important
      margin-top: 10px !important
    .footer-center i
      margin-left: 0
    .fa
      &:not(.member):before
        margin: 10px auto !important
        text-align: center !important
        display: block !important
      &.fa-tag:before, &.fa-clock:before, &.fa-user:before
        margin: 0 20px 0 0 !important
        display: inline-block !important

.footer-icons a
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #fff
  transition: all 300ms ease-in-out

p.fa
  a
    display: inline-block
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #fff
    transition: all 300ms ease-in-out
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #fff
  transition: all 300ms ease-in-out
i.fa
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  transition: all 300ms ease-in-out
  &:hover
    color: $blue
.fa-envelope:before
  content: "\f0e0" !important
  font-size: 20px
.fa-instagram:before 
  content : "\f16d"
  font-size: 20px
.fa-facebook:before 
  content : "\f09a"
  font-size: 20px


footer 
  

  .fa
    &:not(.plain):not(.member):before
      background-color: #33383b
      color: #fff
      font-size: 25px
      width: 38px
      height: 38px
      border-radius: 50%
      text-align: center
      line-height: 38px
      margin: 10px 15px
      vertical-align: middle
      transition: color 200ms ease-in-out
      display: inline-block
    &.plain
      padding-right: 15px
      &:before
        width: 25px
        height: 25px
        font: normal normal normal 14px/1 FontAwesome
        color: #666
        font-size: 30px
        line-height: 38px
        float: left
      &.fa-map-marker:before
        content: '\f041'
      &.fa-email:before
        content: '\f0e0'

  .fa-previous, .fa-next, .fa-tag, .fa-clock, .fa-user
    width: 100%
    height: 38px
    line-height: 38px !important
    position: relative
    vertical-align: top
    background-color: #21a1e1
    border-top-right-radius: 19px
    border-bottom-right-radius: 19px
    padding-right: 10px
    color: #fff
    font-style: italic
    text-align: center
    transition: 300ms ease-in-out 0

  .fa-next
    border-top-left-radius: 19px
    border-bottom-left-radius: 19px
    border-top-right-radius: 0 !important
    border-bottom-right-radius: 0 !important
    padding-left: 10px

  .fa-previous:before, .fa-tag:before, .fa-clock:before
    margin: 0 20px 0 0 !important
    margin-right: 20px
    position: absolute
    left: -19px

  .fa-user:before
    margin: 0 20px 0 0 !important
    margin-right: 20px
    position: absolute
    left: -19px
    content: ""

  .fa-clock:before
    content: ""

  .fa-tag:before
    content: ""

  .fa-map-marker:before
    content: ""

  .fa-next:before
    margin: 0 20px 0 0 !important
    margin-left: 20px
    position: absolute
    right: -19px
    content: '\f054'
    text-indent: 2px
    line-height: 40px !important
    margin-right: 0 !important

  .fa-previous:before
    content: '\f053'
    text-indent: -6px
    line-height: 40px !important

  .fa-envelope:before
    content: "\f0e0" !important
    font-size: 20px
  .fa-twitter:before 
    content : "\f099"
  .fa-facebook:before 
    content : "\f09a"
     
  .fa-previous
    width: 150px !important
    float: left

  .fa-next
    float: right
    width: 150px !important
    a
      display: block !important
      height: 38px !important
      line-height: 38px !important
      margin: 0 auto

  .fa-previous a
    display: block !important
    height: 38px !important
    line-height: 38px !important
    margin: 0 auto

footer.new
  .footer-link a:hover, .footer-icons a:hover
    color: #21a1e1 !important
