@keyframes spin
	from 
		transform: scale(1) rotate(0deg)
	to
		transform: scale(1) rotate(360deg)

@keyframes loading 
	0% 
		opacity: 0
		transform: translateX(-100px)
	33% 
		opacity: 1
		transform: translateX(0px)
	66% 
		opacity: 1
		transform: translateX(0px)
	100% 
		opacity: 0
		transform: translateX(100px)
	
