.top.membership 
	width: 100%
	background-color: #21a1e1
	padding: 20px
	min-height: 140px
	text-align: center
	position: relative


	.logo 
		display: inline-block
		vertical-align: middle


	span.membership_entry 
		font-size: 2em
		vertical-align: middle
		height: 100%
		line-height: 100px
		color: white
		text-align: center
		display: inline-block
