.fa
	font-family: Awsome
	&.fa-home:before
		content: '\f015'
	&.fa-users:before
		content: '\f0c0'
	&.fa-bicycle:before
		content: '\f206'
	&.fa-mobile:before
		content: '\f10b'
	&.fa-health:before
		content: '\f0fa'
	&.fa-list:before
		content: '\f03a'
	//booking
	&.fa-calendar:before
		content: '\f073'
	&.fa-payment:before
		content: '\f1ed'
	&.fa-info:before
		content: '\f129'
	