.park h1, .registration-form h1
	font-size: 2em
	color: #666
	text-align: center

.park h2, .container h2, .registration-form h2
	font-size: 1.5em
	color: #666
	font-weight: 700 !important
	text-align: center

