
.cs-loader

	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%

	.cs-loader-inner
		transform: translateY(-50%)
		top: 50%
		position: absolute
		width: 100%
		color: #FFF
		text-align: center
		padding: 0 15%
		label
			font-size: 20px
			opacity: 0
			display: inline-block

			&:nth-child(5)
				animation: loading 1.5s infinite ease-in-out
			&:nth-child(4)
				animation: loading 1.5s 100ms infinite ease-in-out
			&:nth-child(3)
				animation: loading 1.5s 200ms infinite ease-in-out
			&:nth-child(2)
				animation: loading 1.5s 300ms infinite ease-in-out
			&:nth-child(1)
				animation: loading 1.5s 400ms infinite ease-in-out
#loading_fixed_notice
	position: fixed
	bottom: -40px
	background-color: #21a1e1
	right: 0
	left: 0
	z-index: 9
	padding: 10px 10px 0 10px
	text-align: center
	color: white
	transition: all 100ms ease-in-out

	&.active
		bottom: 0
	p
		margin-bottom: 10px
	