.printcontainer
  background-color: #fff
  border-radius: 10px
  width: 600px
  margin: 0 auto
  max-width: 90%
  .printHeader
    background-color: #4b4c4d
    height: 150px !important
    position: relative
    img
      margin: auto
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
  .print-title
    background-color: #21a1e1
    height: 65px
    color: #fff
    text-align: center
    margin-top: 0
    &.big
      min-height: 80px
      height: auto
    p
      font-size: 1.2em
      line-height: 65px
      margin: 0 !important
    &.big p
      line-height: 40px