.product_image_container
	position: relative
	.sale_percentage
		position: absolute
		background-color: $red
		border-radius: 4px 4px 4px 4px
		border: 1px solid $red-border
		color: #FFFFFF

		right: 5px
		padding: 3px 5px 3px 5px
		top: 5px
	.product_cost
		position: absolute
		background-color: $green
		border-radius: 4px 4px 4px 4px
		border: 1px solid $green-border
		

		right: 5px
		padding: 3px 5px 3px 5px
		bottom: 5px


		.new
			display: block
			color: white
		.old
			text-decoration: line-through
			color: #ccc
.brand-logo
	max-width: 100px
.sale-icon
	background-color: $red
	border: 1px solid $red-border
	padding: 5px 15px
	font-size: 22px
	color: white
	border-radius: 5px

	animation: pulse 4s infinite

.product_view_cost

	margin: 20px 20px 20px 0
	&> span
		display: block
		text-align: right

		&.old
			font-size: 16px
			color: $light-gray
		&.new
			font-size: 22px
			color: $green
	small.percentage
		text-align: right
		display: block
		font-size: 100%
		color: $red
	#time_remaining
		text-align: right