.report-item
	padding: 25px
	a
		text-decoration: none !important
		.report-icon
			width: 100px
			display: block
			height: 100px
			margin: 0 auto
			text-align: center

			i
				transition: color 150ms ease-in-out, font-size 100ms ease-in-out
				font-size: 100px
				text-align: center
				line-height: 100px
				color: #777
		.report-name
			padding-top: 10px
			display: block
			font-style: italic
			text-align: center
			color: lighten(#777, 15%)
			font-size: 16px
			transition: color 150ms ease-in-out
	&:hover

		text-decoration: none !important
		.report-icon
			i
				color: lighten(#777, 5)
				font-size: 98px
		.report-name
			color: lighten(#777, 10)

@media (max-width: 480px)

	.report-icon
		height: 50px !important
		i
			line-height: 50px !important
			font-size: 50px !important
	.report-name
		font-size: 14px !important