.no-results
	.icon
		width: 200px
		height: 200px
		border: 5px solid $grey
		color: $grey
		border-radius: 50%
		position: relative
		margin: 0 auto
		text-align: center
		line-height: 185px
	
		i
			font-size: 150px
			font-style: italic
			font-family: initial
			text-align: center
			font-weight: bold
	.message
		max-width: 300px
		width: 90%
		margin: 20px auto
		color: $grey
		text-align: center
		span
			font-size: 22px
		small
			display: block
			margin-top: 10px
			text-align: center