nav.store
	text-align: center
	background: #21a1e1
	height: 54px

	.store_nav 
		display: inline-block
		position: relative
		cursor: default
		z-index: 500
		margin-bottom: 0px

		&.left
			float: left
		&.right
			float: right
	
		& > li 
			display: block
			float: left

			&> a 
				position: relative
				display: block
				z-index: 510
				height: 54px
				padding: 0 20px
				line-height: 54px
			
				font-family: Helvetica, Arial, sans-serif
				font-size: 13px
				color: #fcfcfc
				text-shadow: 0 0 1px rgba(0,0,0,.35)

				transition: all .3s ease

			&:hover > a
				background: #4b4441
				text-decoration: none
			&:hover > a > b.caret.bmx	
				-webkit-transform: rotate(180deg)
				transform: rotate(180deg)
				
			&:first-child > a 
				border-radius: 3px 0 0 3px
				border-left: none


			&:hover > div.dd
				opacity: 1
				visibility: visible
				overflow: visible

			&> div.dd
				position: absolute
				display: block
				width: 100vw
				top: 54px
				left: 0
			
				opacity: 0
				visibility: hidden
				overflow: hidden
			
				background: #ffffff
				border-radius: 0 0 3px 3px
			
				-webkit-transition: all .3s ease .15s
				-moz-transition: all .3s ease .15s
				-o-transition: all .3s ease .15s
				-ms-transition: all .3s ease .15s
				transition: all .3s ease .15s
				
				& > .nav-column 
					float: left
					width: 25%
					padding: 2.5%
					
					&.w50
						width: 50%
						

					& > h4,
					& > h3 
						margin: 20px 0 10px 0
						line-height: 18px
					
						font-family: Helvetica, Arial, sans-serif
						font-weight: bold
						font-size: 14px
						color: #4b4c4d
						text-transform: uppercase
					& > h4
						font-size: 12px	

				
					& a 
						display: block
						line-height: 26px
					
						font-family: Helvetica, Arial, sans-serif
						font-size: 11px
						color: #888888
					   

						&:hover
							color: #666666
							text-decoration: none

						&.heading
							color: #4b4c4d
							font-size: 12px
							font-weight: bold
.search_c
	vertical-align: middle
	white-space: nowrap
	position: relative
	text-align: left
	transition: all 150ms ease-in-out

	& form 
		margin: 0
	
		&> #search
			width: 54px
			height: 54px
			border: none
			font-size: 10pt
			float: left
			background-color: #21a1e1
			padding-left: 54px

			color: #fff

			transition: background-color 150ms ease-in-out, width 400ms ease 


			&::-webkit-input-placeholder 
				color: #fff


			&:-moz-placeholder  /* Firefox 18- */
				color: #fff


			&::-moz-placeholder   /* Firefox 19+ */
				color: #fff


			&:-ms-input-placeholder   
				color: #fff
			
			
			&:hover,
			&:focus,
			&:active
				outline: none
				width: 300px
				background-color: #666666 !important

	& > .icon
		position: absolute
		
		color: #fff
		width: 54px
		text-align: left
		&> i
			font-size: 25px
			text-align: center
			line-height: 54px
			display: block

	&.has_input form  > #search,
	&:hover input#search
		outline: none
		width: 300px
		background-color: #666666 !important

@media screen and (max-width: 650px) 
	.search_c

		& > .icon
			right: 0
			&:hover 
				color: red
				& ~ form > #search
					display: block
					outline: none
					width: 300px !important
					background-color: #666666 !important
					padding: 0 10px !important
		& >form > #search
			position: absolute
			width: 0px !important
			top: 54px
			right: 0
			display: none
			
			&:hover,
			&:focus,
			&:active
				display: block
				outline: none
				width: 300px !important
				background-color: #666666 !important
				padding: 0 10px
				&  .icon 
					background-color: #666666 !important
		&.has_input form > #search
			display: block
			outline: none
			width: 300px !important
			background-color: #666666 !important
			padding: 0 10px !important