.terms-conditions-container
	position: relative
	margin-bottom: 40px
	text-align: left

	.terms-conditions
		width: calc(100% - 12px)
		height: 300px
		margin-bottom: 20px
		border: 2px solid #21a1e1
		padding: 6px
		overflow: auto


		clear: both
		text-align: left
		p
			display: inline-block !important
			&.medium, &.footerNavHeading
				display: block !important
				margin-top: 20px
		ul
			height: auto !important
			padding: 0
			display: block
			color: #666
			-webkit-margin-before: 1em
			-webkit-margin-after: 1em
			-webkit-margin-start: 0
			-webkit-margin-end: 0
			-webkit-padding-start: 40px
			li
				padding-left: 0
				text-indent: -26.5px
				float: none !important
				clear: both
				display: block !important
				-webkit-margin-before: 1em
				&:before
					content: "\29BE"
					color: #21a1e1
					margin-right: 17px

		ol
			counter-reset: item
			padding: 0
			height: auto
			-webkit-margin-before: 1em
			-webkit-margin-after: 1em
			-webkit-margin-start: 0
			-webkit-margin-end: 0
			-webkit-padding-start: 40px
			color: #666

			& li
				padding-left: 0
				text-indent: -26.5px
				margin-bottom: 5px
				float: none !important
				clear: both
				-webkit-margin-before: 1em
				list-style-type: none

				&:nth-child(n+10):before,
				&:nth-child(n+10):before
					margin-right: 5px

				&:before,
				&:before
					content: counter(item) ". "
					counter-increment: item
					color: #21a1e1
					margin-right: 10px
	#versionNumber
		position: absolute
		bottom: -20px
		right: 12px
		padding: 3px 5px
		width: auto
		height: 20px
		font-size: 12px
		background-color: #21a1e1
		color: white

ul.smart
	height: auto !important
	padding: 0
	display: block
	color: #666
	-webkit-margin-before: 1em
	-webkit-margin-after: 1em
	-webkit-margin-start: 0
	-webkit-margin-end: 0
	-webkit-padding-start: 40px
	li
		padding-left: 0
		text-indent: -26.5px
		float: none !important
		clear: both
		display: block !important
		-webkit-margin-before: 1em
		&:before
			content: "\29BE"
			color: #21a1e1
			margin-right: 17px

ol.smart
	counter-reset: item
	padding: 0
	height: auto
	-webkit-margin-before: 1em
	-webkit-margin-after: 1em
	-webkit-margin-start: 0
	-webkit-margin-end: 0
	-webkit-padding-start: 40px
	color: #666

	& li
		padding-left: 0
		text-indent: -26.5px
		margin-bottom: 5px
		float: none !important
		clear: both
		-webkit-margin-before: 1em
		list-style-type: none

		&:nth-child(n+10):before,
		&:nth-child(n+10):before
			margin-right: 5px

		&:before,
		&:before
			content: counter(item) ". "
			counter-increment: item
			color: #21a1e1
			margin-right: 10px