.print-container
	background-color: white
	border-radius: 10px
	width: 600px
	margin: 0 auto
	.print-header
		background-color: #4b4c4d
		height: 150px !important
		position: relative
		img
			margin: auto
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
	.print-title
		background-color: #21a1e1
		height: 65px
		color: white
		text-align: center
		margin-top: 0
		&.big
			height: 80px
		p
			font-size: 22px

		&.big p
			line-height: 40px
	table
		border: 2px dashed #ccc
		td
			padding: 5px 0
	
		tr.printmode.lastrecord
			border-bottom: 2px dashed #ccc
		&:last-child
			border-bottom: 1px solid #ccc
	