.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12
	position: relative
	padding-left: 15px
	padding-right: 15px 
@media (max-width:  480px)  
	.container
		max-width: 480px 
	.col-ms-1,
	.col-ms-2,
	.col-ms-3,
	.col-ms-4,
	.col-ms-5,
	.col-ms-6,
	.col-ms-7,
	.col-ms-8,
	.col-ms-9,
	.col-ms-10,
	.col-ms-11
		float: left
	.col-ms-1
		width: 8.33333333% !important
	.col-ms-2 
		width: 16.66666667% !important
	.col-ms-3
		width: 25% !important
	.col-ms-4
		width: 33.33333333% !important
	.col-ms-5
		width: 41.66666667% !important
	.col-ms-6
		width: 50% !important
	.col-ms-7
		width: 58.33333333% !important
	.col-ms-8
		width: 66.66666667% !important
	.col-ms-9
		width: 75% !important
	.col-ms-10
		width: 83.33333333% !important
	.col-ms-11
		width: 91.66666667% !important
	.col-ms-12
		width: 100% !important
	.col-ms-pull-0
		right: auto
	.col-ms-pull-1
		right: 8.33333333% !important
	.col-ms-pull-2
		right: 16.66666667% !important
	.col-sm-pull-3
		right: 25% !important
	.col-sm-pull-4
		right: 33.33333333% !important
	.col-sm-pull-5
		right: 41.66666667% !important
	.col-sm-pull-6
		right: 50% !important
	.col-sm-pull-7    
		right: 58.33333333% !important
	.col-ms-pull-8
		right: 66.66666667% !important
	.col-ms-pull-9
		right: 75% !important
	.col-ms-pull-10
		right: 83.33333333% !important
	.col-ms-pull-11
		right: 91.66666667% !important
	.col-ms-pull-12
		right: 100% !important
	.col-ms-push-0
		left: auto
	.col-ms-push-1
		left: 8.33333333% !important
	.col-ms-push-2
		left: 16.66666667% !important
	.col-sm-push-3
		left: 25% !important
	.col-sm-push-4
		left: 33.33333333% !important
	.col-sm-push-5
		left: 41.66666667% !important
	.col-sm-push-6    
		left: 50% !important
	.col-sm-push-7
		left: 58.33333333% !important
	.col-ms-push-8
		left: 66.66666667% !important
	.col-ms-push-9    
		left: 75% !important
	.col-ms-push-10
		left: 83.33333333% !important
	.col-ms-push-11
		left: 91.66666667% !important
	.col-ms-push-12
		left: 100% !important
	.col-ms-offset-0
		margin-left: 0
	.col-ms-offset-1
		margin-left: 8.33333333% !important
	.col-ms-offset-2
		margin-left: 16.66666667% !important
	.col-ms-offset-3
		margin-left: 25% !important
	.col-ms-offset-4
		margin-left: 33.33333333% !important
	.col-ms-offset-5 
		margin-left: 41.66666667% !important
	.col-ms-offset-6
		margin-left: 50% !important
	.col-ms-offset-7  
		margin-left: 58.33333333% !important
	.col-ms-offset-8
		margin-left: 66.66666667% !important
	.col-ms-offset-9  
		margin-left: 75% !important
	.col-ms-offset-10 
		margin-left: 83.33333333% !important
	.col-ms-offset-11 
		margin-left: 91.66666667% !important
	.col-ms-offset-12
		margin-left: 100% !important
